doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}

		meta(name="description", content="{{ page_description | escape }}")
		link(rel="canonical", href="{{ canonical_url }}")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(rel='apple-touch-icon', sizes='180x180', href="{{ 'apple-touch-icon.png' | asset_url }}")
		link(rel='icon', type='image/png', href="{{ 'favicon-96x96.png' | asset_url }}", sizes='96x96')
		meta(name='msapplication-TileColor', content='#ec008c')
		meta(name='msapplication-TileImage', content="{{ 'mstile-310x310 | asset_url }}")

		| {% include 'open-graph-tags' %}
		| {% include 'twitter-card' %}
		| {{ content_for_header }}

		| {{ 'screen.css' | asset_url | stylesheet_tag }}
		| {{ 'style.css' | asset_url | stylesheet_tag }}
		| {{ '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' | stylesheet_tag }}

		<!--[if lt IE 9]>
		| {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
		<![endif]-->

		| {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' | script_tag }}
		| {{ 'option_selection.js' | shopify_asset_url | script_tag }}
		| {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
		| {{ 'modernizr.min.js' | asset_url | script_tag }}

		script(src='//use.typekit.net/tyt2mqb.js')
		script.
			try{Typekit.load();}catch(e){}
		script.
			jQuery('html').removeClass('no-js').addClass('js');

	body(id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}page-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}")
		| {% include 'cart-small' %}

		| {% include 'site-nav' %}

		.site-header
			h1.site-header__title
				a(href='/')
					img.site-header__logo(src="{{ 'logo.svg' | asset_url }}")
			ul.siteNavIcons
				li.siteNavIcons__item
					#navToggleWrap
						#navToggle.navToggle
							span
				li.siteNavIcons__item.siteNavIcons__item--cart
					a.siteNavIcons__link(href='/cart')
						.siteNavIcons__count#cartCount
							| {{ cart.item_count }}
						img.siteNavIcons__cartImage(src="{{ 'cart.svg' | asset_url }}")
			.cartTooltip
				.cartTooltip__content
					| your product has been added to the cart
				.checkmark


		#main.site-content(role="main")
			| {{ content_for_layout }}

		| {% if template == 'index' %}
		| {% include 'site-footer' %}
		| {% endif %}

		| {{ 'script.min.js'  | asset_url | script_tag }}
		| {{ 'timber.js' | asset_url | script_tag }}
		| {% comment %}
		| Ajaxify your cart with this plugin.
		| Documentation:
		|	- http://shopify.com/timber#ajax-cart
		| {% endcomment %}

		| {{ 'handlebars.min.js' | asset_url | script_tag }}
		| {% include 'ajax-cart-template' %}
		| {{ 'ajax-cart.js' | asset_url | script_tag }}
		script.
			jQuery(function($) {
				ajaxCart.init({
					formSelector: '#product-form',
					cartContainer: '#CartContainer',
					addToCartSelector: '#AddToCart',
					cartCountSelector: '#cartCount',
					cartCostSelector: '#CartCost',
					moneyFormat: {{ shop.money_format | json }}
				});
			});

			jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
				console.log('succes');
				// Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
				//- timber.RightDrawer.open();
			});


