doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}

		meta(name="description", content="{{ page_description | escape }}")
		link(rel="canonical", href="{{ canonical_url }}")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(rel='apple-touch-icon', sizes='180x180', href="{{ 'apple-touch-icon.png' | asset_url }}")
		link(rel='icon', type='image/png', href="{{ 'favicon-96x96.png' | asset_url }}", sizes='96x96')
		meta(name='msapplication-TileColor', content='#ec008c')
		meta(name='msapplication-TileImage', content="{{ 'mstile-310x310 | asset_url }}")

		| {% include 'open-graph-tags' %}
		| {% include 'twitter-card' %}
		| {{ content_for_header }}

		| {{ 'screen.css' | asset_url | stylesheet_tag }}
		| {{ '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' | stylesheet_tag }}
		| {{ '//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic' | stylesheet_tag }}

		<!--[if lt IE 9]>
		| {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
		<![endif]-->

		| {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' | script_tag }}
		script(src='//use.typekit.net/tyt2mqb.js')
		script.
			try{Typekit.load();}catch(e){}
		script.
			jQuery('html').removeClass('no-js').addClass('js');

	body(id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}page-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}")
		| {% include 'cart-small' %}
		| {% if template == 'index' %}
		.hero(style="background-image: url( {{ 'leader-image.jpg' | asset_url }} );")
			//- | {% if settings.use_logo %}

			//- a(href='/')
			//- 	| {{ 'logo.png' | asset_url | img_tag: shop.name }}
			//- | {% else %}
			//- a#site-title(href='')
			//- 	|	{{ shop.name }}
			//- | {% endif %}
			//- | {% if template == 'index' %}
			//- | {{ shop.name }}
			//- | {% endif %}
			.site-header
				.container.site-header__container
					h1.site-header__title
						a(href='/')
							img.site-header__logo(src="{{ 'logo.svg' | asset_url }}")
					| {% include 'site-nav' %}
					//- | {% include 'site-header-search' %}

			.hero__content
				.hero__content-container
					h2.hero__title Shop the brand new CFYE T-Collection!
					a.hero__cta(href='#') Show now!

		| {% else %}
		.hero.hero--small(style="background-image: url( {{ 'leader-image.jpg' | asset_url }} );")
			.site-header
				.container.site-header__container
					h1.site-header__title
						a(href='/')
							img.site-header__logo(src="{{ 'logo.svg' | asset_url }}")
					| {% include 'site-nav' %}
					//- | {% include 'site-header-search' %}

		| {% endif %}

	#main.site-content(role="main")

		| {{ content_for_layout }}


	footer.site-footer
		.container
			| {% if linklists.footer.links.size > 0 %}
			ul.site-footer__menu
				| 	{% for link in linklists.footer.links %}
				li.site-footer__menu-item
					a.site-footer__menu-link(href="{{ link.url }}", title="{{ link.title }}", class="{% if link.active %}active{% endif %}")
						| {{ link.title }}
				| 	{% endfor %}
			| {% endif %}

			| {% unless shop.enabled_payment_types == empty %}

			| 	{% for type in shop.enabled_payment_types %}
			img(width="40", src="{{ type | payment_type_img_url }}")
			| 	{% endfor %}
			| {% endunless %}
			p.
				Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }}.

		| {{ 'script.min.js'  | asset_url | script_tag }}

