$menuwidth: 260px;

.is-active-menu {

  .siteNav {
    transform: translateX(0);
  }

  .site-header {
    transform: translateX($menuwidth);
  }

  .site-content {
    transform: translateX($menuwidth);
  }

  .site-footer {
    transform: translateX($menuwidth);
  }
}