$menuwidth: 260px;

.is-active-menu {
  overflow: hidden;

  .siteNav {
    transform: translateX(0);
  }

  .site-header {
    z-index: 500;

    @include breakpoint($tablet) {
      transform: translateX($menuwidth);
    }
  }

  .site-content {
    filter: grayscale(100%);
    opacity: .5;

    @include breakpoint($tablet) {
      transform: translateX($menuwidth);
    }
  }

  .site-footer {
    @include breakpoint($tablet) {
      transform: translateX($menuwidth);
    }
  }
}