.isAddedToCart {

  .cartTooltip {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: all .3s ease;
    pointer-events: default;
  }

  .site-content {
    opacity: .4;
  }
}