.page-cart {

  &__container {
    padding: 20px 10px 40px 10px;

    @include breakpoint($desktop-small) {
      padding: 20px 20px 40px;
    }

    @include breakpoint($desktop-small) {
      padding: 100px 80px 200px;
    }
  }

  &__titleBagWrap {
    text-align: center;
  }

  &__title {
    text-align: center;
    font-size: 32px;
    margin: 0;
    display: inline-block;
    position: relative;
    top: -24px;

    @include breakpoint($tablet) {
      display: block;
      font-size: 48px;
      margin: .5em 0;
      top: auto;
    }
  }

  &__bagWrap {
    width: 75px;
    display: inline-block;
    position: relative;

    @include breakpoint($tablet) {
      width: 75px;
      height: auto;
      margin: 0 auto;
      position: relative;
    }
  }

  &__bag {
    display: block;
  }

  &__itemCount {
    color: #fff;
    font-family: $headerfont;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 24px;
    padding-left: 5px;
    width: 100%;
    text-align: center;
  }

  &__mobile {
    display: block;

    @include breakpoint($tablet) {
      display: none;
    }
  }

  &__continueCheckout {

    @include breakpoint($tablet) {
      @include span(last 8 of 16);
    }
  }

  &__button {
    display: block;;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    border: 1px solid #000;
    font-family: $headerfont;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    transition: all .3s ease;
    width: 100%;
    margin: 0 auto 20px;
    text-align: center;

    @include breakpoint($tablet) {
      width: 180px;
      max-width: auto;
      margin-right: 20px;
      margin-bottom: 0;
      display: inline-block;
    }

    &--checkout {
      margin-right: auto;

      @include breakpoint($phone) {
        @include span(last 3 of 6);
      }

      @include breakpoint($tablet) {
        @include span(last 4 of 8);
      }
    }

    &--continue {

      @include breakpoint($phone) {
        @include span(3 of 6);
      }

      @include breakpoint($tablet) {
        @include span(4 of 8);
      }
    }

    &--update {
      display: none;
      @include breakpoint($phone) {
        // @include span(last 3 of 6);
      }

      @include breakpoint($tablet) {
        @include span(4 of 16);
        display: block;
      }
    }

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }

  &__buttonWrap {
    overflow: hidden;
    margin: 20px 0;
    text-align: right;
    width: 100%;

    @include breakpoint($tablet) {
      margin: 30px 0;
    }

    &--top {
      text-align: center;
      margin-bottom: 20px;
      display: none;

      @include breakpoint($tablet) {
        margin-bottom: 100px;
        display: block;
      }
    }

    &--mobile {
      width: 100%;

      .page-cart__button {

        @include breakpoint($phone) {
          @include span(3 of 6);
        }

        &:last-child {

          @include breakpoint($phone) {
            @include omega;
          }
        }
      }
    }
  }

  &__additional {
    float: right;
  }
}