.cartTable {

  & {
    width: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    color: #999;
    display: none;

    @include breakpoint($tablet) {
      display: table;
    }
  }

  thead {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    line-height: 4;
    text-transform: uppercase;
    color: #999;
    font-size: 14px;

    th {
      text-align: left;
      padding-left: 15px;

      @include breakpoint($desktop) {
        padding-left: 30px;
      }
    }
  }

  tfoot {

    padding: 10px;
    line-height: 4;

    th {
      text-align: left;
      padding-left: 30px;
    }
  }

  td {
    padding-left: 15px;

    @include breakpoint($desktop) {
      padding-left: 30px;
    }

    &:first-of-type {
      padding-left: 0;
    }
  }

  &__row {
    border-bottom: 1px solid #ccc;
  }

  &__imageLink {
    display: block;
    margin: 0 auto;
  }

  &__image {
    display: block;
    margin: 0 auto;
  }

  &__title {
    font-size: 20px;
    margin: 0;
    min-width: 150px;
  }

  &__titleLink {
    color: #ec008c;
    text-decoration: none;
  }

  &__variantTitle {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
  }

  &__quantityInput {
    width: 50px;
    display: block;
    margin: 0 auto;
  }

  &__vendor {
    margin: 0;
    font-size: 16px;
  }

  &__remove {
    padding: 0 30px;
    text-align: right;
  }

  &__removeLink {
    text-decoration: none;
    color: #aaa;
    transition: color .3s ease;

    &:hover {
      color: darken(#ff0000, 10%);
    }
  }

  &__total {
    color: #666;
    text-transform: uppercase;
    margin: 0;
    font-family: $bodyfont;
    font-weight: 700;
    font-size: 20px;
  }

  &__totalPrice {
    font-size: 20px;
    color: #666;
    font-weight: 700;
    padding-right: 20px;
  }
}