.hero {

  & {
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .4);
      z-index: 10;
    }

    &--small {
      height: 33.3%;
      min-height: 340px;
    }
  }

  &__content {
    text-align: center;
    position: relative;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
  }

  &__content-container {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }

  &__title {
    font-weight: 300;
    color: #fff;
    font-size: 44px;

    &--page {

    }
  }

  &__cta {
    display: inline-block;
    margin: 0 auto;
    font-family: $headerfont;
    font-weight: 300;
    text-transform: uppercase;
    border: 2px solid #fff;
    font-size: 22px;
    padding: 10px 40px;
    position: relative;
    z-index: 0;
    color: #fff;
    text-decoration: none;
    transition: background-color .3s ease;

    &:hover {
      background-color: rgba(0, 0, 0, .4);
    }
  }
}
