.paymentMethods {

  & {
    width: 100%;
    overflow: hidden;

    @include breakpoint($tablet) {
      @include span(6 of 12);
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__title {
    margin: 0 0 4px;
  }

  &__method {
    display: block;
    width: 40px;
    height: auto;
    display: inline-block;
    margin-right: 5px;

    svg {
      display: block;
    }
  }
}