.product-grid-item {

  & {

    &--two-per-row {
      width: 100%;
      float: left;
      padding: 10px;
      border-right: 1px solid #999;
      border-bottom: 1px solid #999;
      position: relative;

      @include breakpoint($tablet) {
        @include span(8 of 16 0);
        height: 400px;
        padding: 10px 0 0;
      }

      &:nth-child(2n) {
        @include omega;
        border-right: none;
      }
    }

    &:hover {

      .product-grid-item__image {
        // transform: scale(1.1);
      }

      .product-grid-item__title-price {
        // background-color: #fff;
      }
    }
  }

  &__image-wrap {
    overflow: hidden;
    width: 100%;
    height: auto;
  }

  &__image {
    display: block;
    width: 45%;
    height: auto;
    float: left;
    transition: transform .5s ease;

    @include breakpoint($tablet) {
      height: 320px;
      width: auto;
      float: none;
      margin: 0 auto;
    }
  }

  &__title-price {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    width: 100%;
    display: block;
    line-height: 1.5;
    padding-left: 10px;
    float: left;
    position: absolute;
    padding-left: 50%;
    top: 50%;
    transform: translateY(-50%);

    @include breakpoint($tablet) {
      text-align: center;
      padding-left: 0;
      float: none;
    }
  }

  &__title {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $headerfont;
  }

  &__price {
    font-size: 14px;
  }
}
