.single-product {

  & {
    margin: 100px 0;
    overflow: hidden;
  }

  &__image-wrap {
    @include span(6 of 12);
  }

  &__image {

  }

  &__content-wrap {
    @include span(last 5 of 12);
    padding-left: 20px;
  }

  &__brand {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;

    a {
      text-decoration: none;
      color: #ec008c;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 28px;
    margin: 0 0 10px;
    width: 55%;
  }

  &__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
  }
}