.siteNav {

  & {
    font-family: $headerfont;
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    background-color: darken(#333, 15%);
    z-index: 500;
    transform: translateX(-100%);
    transition: transform .3s ease;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__item {
    height: 100%;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 400;
    margin-right: 30px;
  }

  &__link {
    color: #fff;
    text-decoration: none;

    &:hover,
    &--active {
      color: #ec008c;
    }
  }

  &__search {
    float: right;
    line-height: 60px;
    font-size: 20px;
    display: block;
    width: 60px;
    background-color: #ec008c;
    text-align: center;

    &:hover {
      background-color: darken(#ec008c, 10%);
    }

    a {
      display: block;
      color: #fff;
    }
  }
}