.site-newsletter {

  & {
    width: 100%;
    background-color: #ececec;
    padding: 30px 0;
    text-align: center;
    color: #fff;
    float: left;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    margin: 0 auto 30px;
    color:  #000;


    @include breakpoint($desktop-small) {
      width: 50%;
    }
  }

  &__form {
    width: 100%;
    margin: 0 auto;
    position: relative;

    @include breakpoint($desktop-small) {
      width: 50%;
    }
  }

  &__input {
    height: 40px;
    float: left;
    width: 100%;
    border: 1px solid #333;
    padding: 0 10px;
    color: #000;
    border-radius: 3px;

    &:focus {
      outline: none;
    }
  }

  &__button {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 0;
    width: 30%;
    height: 36px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-family: $headerfont;
  }
}