html,
body {
  height: 100%;
}

body {
  font-family: $bodyfont;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body > svg {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headerfont;
  font-weight: 300;
}

.qty-error {
  border: 1px solid darken(#ff0000, 25%);
  overflow: hidden;
  width: 100%;
  float: left;
  padding: 10px;
  background-color: lighten(#ff0000, 45%);
  margin: 10px 0;
}