* {
  box-sizing: border-box;
}

$tablet:                    768px;
$desktop-small:             1000px;
$desktop:                   1200px;


.container {
  @include container(1200px);
}

.site-content {
  height: 100%;
  padding-left: 75px;
  transition: transform .3s ease;
}

