* {
  box-sizing: border-box;
}

$tablet:                    768px;
$desktop-small:             1000px;
$desktop:                   1200px;

.container {
  @include container(1200px);
  padding: 0 20px;

  @include breakpoint($desktop-small) {
    padding: 0;
  }
}

.site-content {
  height: 100%;
  padding-left: 60px;
  transition: all .3s ease;
  position: relative;

  @include breakpoint($desktop-small) {
    padding-left: 75px;
  }
}
