* {
  box-sizing: border-box;
}

$phone:                     480px;
$tablet:                    768px;
$desktop-small:             1000px;
$desktop:                   1200px;

.container {
  width: 100%;
  padding: 0 20px;

  @include breakpoint($tablet) {
    padding: 0;
  }

  @include breakpoint($desktop-small) {
    @include container(1200px);
  }
}

.site-content {
  height: 100%;
  transition: all .3s ease;
  position: relative;
  padding-top: 60px;

  @include breakpoint($tablet) {
    padding-left: 75px;
    padding-top: 0;
  }
}
