
.page-about__image(style="background-image:url(http://cfye.com/wp-content/themes/cfyev1/img/404bob.jpg);")

.page-about__content
	h1.page-about__title
		| It seems we've lost it!
	.entryContent
		p
			| Not our minds, but whatever you were looking for.

		p Please try again or start navigating from the <a href="http://shop.cfye.com">homepage</a>.
