.container.page-cart__container
	.page-cart__titleBagWrap
		.page-cart__bagWrap
			img.page-cart__bag(src="{{ 'cart-black.svg' | asset_url}}")
			span.page-cart__itemCount {{ cart.item_count }}
		h1.page-cart__title Your cart

	| {% if cart.item_count > 0 %}

	| {% include 'cartMobile' %}

	| {% include 'cartDesktop' %}

	//- div
	//- 	p Special instructions for seller
	//- 	textarea(name="note")
	//- 		| {{ cart.note }}

	| {% include 'shippingCalculator' %}

	| {% else %}

	div.page-cart__empty
		h2 It appears that your cart is currently empty!
		h3 You can continue browsing <a href="/collections/all">here</a>.

	| {% endif %}