| {% unless settings.homepage_page == blank or pages[settings.homepage_page].empty? %}
| {% assign page = pages[settings.homepage_page] %}

//- | {{ page.content }}
| {% endunless %}
.hero(style="background-image: url( {{ 'leader-image.jpg' | asset_url }} );")
	.hero__content
		.hero__content-container.container
			h2.hero__title
				a.hero__titleLink(href='/collections/all/', target="{% if settings.row-text-01 %}_blank {% else %} _self {% endif %}") {{ settings.hero_text }}
			a.hero__cta(href='/collections/all/') {{ settings.hero_button_text }}
.heroRow

	.heroRow__item
		a.heroRow__item-link(href='{{ settings.row-link-01 }}', target="{% if settings.row-text-01 %}_blank {% else %} _self {% endif %}")
			.heroRow__item-content-wrap
				.heroRow__item-content-inner
					h3.heroRow__item-title {{ settings.row-text-01 }}
		img.heroRow__image(src="{{ 'home-row-01.jpg' | asset_url }}")

	.heroRow__item
		a.heroRow__item-link(href='{{ settings.row-link-02 }}', target="{% if settings.row-text-02 %}_blank {% else %} _self {% endif %}")
			.heroRow__item-content-wrap
				.heroRow__item-content-inner
					h3.heroRow__item-title {{ settings.row-text-02 }}
		img.heroRow__image(src="{{ 'home-row-02.jpg' | asset_url }}")

	.heroRow__item
		a.heroRow__item-link(href='{{ settings.row-link-03 }}', target="{% if settings.row-text-03 %}_blank {% else %} _self {% endif %}")
			.heroRow__item-content-wrap
				.heroRow__item-content-inner
					h3.heroRow__item-title {{ settings.row-text-03 }}
		img.heroRow__image(src="{{ 'home-row-03.jpg' | asset_url }}")

.site-newsletter
	.site-newsletter__inner
		.container
			h3.site-newsletter__title Subscribe to our newsletter
			//- Begin MailChimp Signup Form
			#mc_embed_signup
				form#mc-embedded-subscribe-form.site-newsletter__form.validate(action="//cfye.us2.list-manage.com/subscribe/post?u=9017bc446315b0e178f438760&id=ddc16c6dc2", method="post", name="mc-embedded-subscribe-form", target="_blank", novalidate="")
					#mc_embed_signup_scroll
						.mc-field-group
							//- label(for="mce-EMAIL")
							//- 	| Email Address
							input#mce-EMAIL.required.email.site-newsletter__input(type="email", value="", name="EMAIL", placeholder='Your email address')
							button#mc-embedded-subscribe.button.site-newsletter__button(type="submit", value="Subscribe", name="subscribe")
								span Subscribe
						//- p
						//- 	a(href="http://us2.campaign-archive2.com/home/?u=9017bc446315b0e178f438760&id=ddc16c6dc2", title="View previous campaigns") View previous campaigns.
						#mce-responses
							#mce-error-response.response(style="display:none")
							#mce-success-response.response(style="display:none")
						//- real people should not fill this in and expect good things - do not remove this or risk form bot signups
						div(style="position: absolute; left: -5000px;")
							input(type="text", name="b_9017bc446315b0e178f438760_ddc16c6dc2", tabindex="-1", value="")


			//- End mc_embed_signup
