nav.siteNav
	ul.siteNav__list
		| {% for link in linklists.main-menu.links %}
		| {% assign has_sub_menu = false %}
		| {% assign has_sub_categories = false %}
		| {% assign parent_link_active = false %}
		| {% assign child_list_handle = link.title | handle %}
		| {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
		|	{% assign has_sub_menu = true %}
		|	{% for l in linklists[child_list_handle].links %}
		|		{% if handle != blank and handle == l.object.handle %}
		|			{% assign parent_link_active = true %}
		|		{% elsif page_title == l.title %}
		|			{% assign parent_link_active = true %}
		|		{% endif %}
		|	{% endfor %}
		| {% elsif link.type == 'collection_link' and link.object.all_tags.size > 0 %}
		|	{% assign has_sub_categories = true %}
		| {% endif %}

		li(class="siteNav__item {% if link.active or parent_link_active %} site-nav__item--active{% endif %}{% if has_sub_menu or has_sub_categories %} site-nav__item--has-dropdown{% endif %}{% if forloop.first %} site-nav__item--first{% elsif forloop.last %} site-nav__item--last{% endif %}")
			a.siteNav__link(href="{{ link.url }}", class="{% if link.active or parent_link_active %} siteNav__link--active{% endif %}")
				| {{ link.title }}
				| {% if has_sub_menu or has_sub_categories %}
				i.fafa-angle-down
				| {% endif %}
			| {% if has_sub_menu or has_sub_categories %}
			ul.siteNav__sub-menu
				| {% if has_sub_menu %}
				|	{% for l in linklists[child_list_handle].links %}
				li.siteNav__sub-item(class="{% if l.active %} siteNav__sub-item--active{% endif %}")
					a.siteNav__sub-link(href="{{ l.url }}")
						| {{ l.title }}

				|	{% endfor %}
				| {% elsif has_sub_categories %}
				|	{% for tag in link.object.all_tags %}
				li(class="{% if current_tags contains tag %} active{% endif %}")
					a(href="{{ link.url }}/{{ tag | handle }}")
						| {{ tag }}

				|	{% endfor %}
				| {% endif %}

			| {% endif %}

		| {% endfor %}
