footer.site-footer
	.container
	| {% if linklists.footer.links.size > 0 %}
	ul.site-footer__menu
		|   {% for link in linklists.footer.links %}
		li.site-footer__menu-item
		a.site-footer__menu-link(href="{{ link.url }}", title="{{ link.title }}", class="{% if link.active %}active{% endif %}")
			| {{ link.title }}
		|   {% endfor %}
	| {% endif %}

	| {% unless shop.enabled_payment_types == empty %}

	|   {% for type in shop.enabled_payment_types %}
	img(width="40", src="{{ type | payment_type_img_url }}")
	|   {% endfor %}
	| {% endunless %}
	p.
		Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }}.
